<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Student Registration Form</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-5">
            <li style="background-color: whitesmoke;" class="nav-item active mx-3 px-2 border rounded-sm-0 my-1">
                <a class="nav-link text-dark" href="/">Home</a>
            </li>
            <li style="background-color: whitesmoke;" class="nav-item mx-3 px-2 border rounded-sm-0 my-1">
                <a class="nav-link text-dark" href="/login">Login</a>
            </li>
            <li style="background-color: whitesmoke;" class="nav-item mx-3 px-2 border rounded-sm-0 my-1">
                <a class="nav-link text-dark" href="/register">register</a>
            </li>
        </ul>
    </div>
</nav>